h1{
    color: red;
    background-color: rgb(188, 252, 230);
    display: block;
    font-size: 40px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    border: blue 5px solid;
    padding: 18px 29px 18px;
  }
  #About{
    color: red;
    display: block;
    font-size: 24px;
    margin-inline-start: 0px;
    font-weight: bold;
    padding: 19px 42px 1px 21px;
  }
  p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 5px;
    padding-inline-start: 292px;
    height: 68px;
    border: red 2px dotted;
    padding: 25px 50px 17px 43px;
  }
  ol{
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    color: orangered;
    background-color: bisque;
    padding: 21px;
    margin: 21px 16px;
  }
#top{
  color: rgb(247, 126, 27);
  display: block;
  font-size: 24px;
  margin-inline-start: 0px;
  font-weight: bold;
  padding: 19px 42px 1px 21px;
}
#p1{
color: rgb(247, 91, 91);
font-size: 20px;
}

.p2
{
    color:rgb(252, 66, 33);
    background-color: rgb(250, 204, 195);
}